<h1><%= @user.name %>のプロフィール</h1>
<div class="profile-user">
<% if @user.avatar.attached? %>
 <div>
   <%= image_tag url_for(@user.avatar), class: "avatar-image"%>
 </div>
<% end %>
<p>自己紹介：<%= @user.introduction %></p>
<%= link_to "編集", edit_user_path(@user), class: "btn btn-primary"%>
<%= link_to "施設一覧へ戻る", rooms_path, class: "btn btn-secondary" %>
</div>