<h2><%= @room.name %>の予約一覧</h2>

<% @reservations.each do |reservation| %>
  <div class="reservation-list">
    <% if reservation.room.image.attached? %>
      <%= image_tag reservation.room.image, class: "reservation-image"%>
    <% end %>

    <h2><%= link_to reservation.room.name, room_path(reservation.room) %></h2>
    <p>紹介文：<%= reservation.room.description %></p>
    <p>合計金額：<%= reservation.total_price%>円</p>
    <p>チェックイン日：<%= reservation.check_in.strftime("%Y/%m/%d") %></p>
    <p>チェックアウト日：<%= reservation.check_out.strftime("%Y/%m/%d") %></p>
    <p>予定確定日時：<%= reservation.created_at.strftime("%Y/%m/%d %H:%M") %></p>

    <%= link_to "予約詳細", room_reservation_path(reservation.room, reservation), class: "btn btn-info"%>
  </div>
<% end %>

<%= link_to "施設一覧へ戻る", rooms_path, class: "btn btn-secondary" %>