<h2>施設一覧</h2>

<div class="room-list">
  <% @rooms.each do |room| %>
    <div class="room-info">
      <%= image_tag(room.image.attached? ? room.image : "default-image.png") %>
      <h2><%= link_to room.name, room_path(room) %></h2>
      <p>紹介文：<%= room.description %></p>
      <p>宿泊料金：<%= room.price %> 円/泊</p>
      <p>作成日：<%= room.created_at.strftime("%Y/%m/%d") %></p>
      <% if room.user == current_user %>
        <%= link_to "編集", edit_room_path(room) %>
        <%= link_to "削除", room_path(room), method: :delete, data: { confirm: "本当に削除しますか？"} %>
      <% end %>
    </div>
  <% end %>
</div>

<p><%= link_to "施設登録", new_room_path %></p>