<!DOCTYPE html>
<html>
  <head>
    <title>StayApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="title">
        <%= link_to "Shisetsu", root_path, class: "title-link" %>
      </div>
      <nav>
        <% if user_signed_in? %>
          <div class="dropdown">
            <div class="user-items">
              <% if current_user.respond_to?(:avatar) && current_user.avatar.attached? %>
                <%= image_tag current_user.avatar, class: "avatar-image"%>
              <% else %>
                <%= image_tag "default-avatar.png", class: "avatar-icon" %>
              <% end %>
              <button class="dropdown-toggle" id="dropdown-button">
                <%= current_user.name %>
              </button>
            </div>
            <div class="dropdown-menu" id="dropdown-menu">
              <%= link_to "アカウント編集", edit_user_registration_path %>
              <%= link_to "プロフィール編集", edit_profile_path %>
              <%= link_to "予約一覧", my_reservations_path %>
              <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
            </div>
          </div>
        <% else %>
          <%= link_to "ログイン", new_user_session_path, class: "login-link" %>
          <%= link_to "新規登録", new_user_registration_path, class: "new-link"%>
        <% end %>
      </nav>
    </header>

    <% unless controller.controller_name == "top" && controller.action_name == "index" %>
        <%= form_with url: searches_path, method: :get, local: true, class: "searches" do %>
          <%= select_tag :area, options_for_select(["", "東京", "大阪", "京都", "札幌"], params[:area]), placeholder: "エリア名",class: "searches-select"%>

          <%= text_field_tag :search, params[:search], placeholder: "施設名・キーワードを入力",class: "searches-input" %>

          <%= submit_tag "検索", class: "searches-button"%>
        <% end %>
    <% end %>

    <%= yield %>
  </body>
</html>
